name: Upload Python Package

on:
  push:
    branches:
      - 'master'

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'

    - uses: ikalnytskyi/action-setup-postgres@v6
      with:
        username: ci
        password: sw0rdfish
        database: test
        port: 34837
      id: postgres

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
        python -m build

    - name: Run unit tests
      run: sh -e unittest.sh
      env:
        POSTGRES_URL: ${{ steps.postgres.outputs.connection-uri }}

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
